body{
    background-color: #333;
    color: #fff;
    height: 100%;
}

::-webkit-scrollbar{
    width: 0px;
}

#page-container{
    height: calc(100vh - 29px);
    position: relative;
    top: 29px;
}

