@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

#page-container{
    padding: 40px 0px 0px 0px;
}

#page-controls-container{
    display: flex;
    background-color: #222;
    width: 100%;
    position: fixed;
    top: 29px;
    z-index: 10;
    box-shadow: 0px 3px 6px #000;
}

.control-icon{
    width: 20px;
    height: 20px;
}

#back-button{
    padding: 10px;
    cursor: pointer;
}

#back-button:hover{
    background-color: #333;
}

#header-container{
    width: 100%;
    height: calc(50vh - 29px);
    display: flex;
}

#stage-image-container{
    flex-basis: 50%;
    padding: 30px 0px 0px 0px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

.character-icon-container{
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    padding: 10px;
    border-radius: 50%;
    margin: 0px 10px;
    box-shadow: 0px 3px 3px #000;
}

.winner-icon-container{
    background-image: linear-gradient(to bottom right, #95fb95, #0a990a);
}

.loser-icon-container{
    background-image: linear-gradient(to bottom right, #f56060, #a11111);
}

.character-icon{
    width: 40px;
    height: 40px;
}

#basic-results-container{
    background-color: #444;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.basic-character-stats{
    padding: 20px 60px;
    width: calc(100% - 120px);
    flex-basis: 25%;
    height: 100%;
    display: flex;
    align-items: center;
}

#basic-player-1, #basic-player-3{
    background-color: #444;
}

#basic-player-2, #basic-player-4{
    background-color: #222;
}

.stock-icon-basic-container{
    width: 40px;
    height: 40px;
    margin: 0px 60px 0px 0px;
}

.basic-stock-icon{
    width: 100%;
    height: 100%;
}

.basic-stat-icons{
    width: 40px;
    height: 40px;
    margin: 0px 20px 0px 0px;
}

.basic-kills-value, .basic-percent-value{
    min-width: 40px;
    text-align: center;
    color: #ffffff;
    font-size: 40px;
    font-weight: bolder;
    text-rendering: optimizeLegibility;
    margin: 0px 60px 0px 0px;
}

.basic-percent-value{
    margin: 0px;
}





#main-data-container{
    padding: 30px 40px;
}

.player-data-container{
    background-color: #222;
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: 0px 3px 3px #000;
    margin: 0px 0px 50px 0px;
}

.player-data-container hr{
    height: 2px;
    border: none;
    background-color: #fff;
}

.player-slot-container{
    display: flex;
    align-items: center;
    padding: 15px 20px 15px 20px;
    background-color: #111;
    border-radius: 50px;
}

.slot-icon{
    width: 40px;
    height: 40px;
    margin: 0px 20px 0px 0px;
}

.slot-title{
    font-size: 40px;
    font-weight: bolder;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.opponent-icon-container{
    margin: 20px 0px 0px 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #111;
}

.opponent-icon{
    width: 30px;
    height: 30px;
    padding: 10px;
}

.stock-conversions{
    display: flex;
    padding: 10px 20px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.conversion{
    background-color: #333;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}

.conversion-opening-label{
    font-family: 'Oswald', sans-serif;
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 20px;
    margin: 10px 0px 15px 0px;
    text-align: center;
    letter-spacing: 1px;
}

.moves-list-title{
    margin: 0px 0px 5px 0px;
}

.conversion-move-list{
    margin: 0px 0px 0px 20px;
}

.conversion-damage-label{
    text-align: center;
    margin: 20px 0px 0px 0px;
    font-weight: bolder;
    font-size: 20px;
    background-color: #fb1a1a;
    padding: 10px;
    border-radius: 5px;
}

.ko-label{
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0px 0px 0px;
    font-weight: bolder;
    text-align: center;
    background-image: linear-gradient(to bottom right, #ff0000, rgb(251, 157, 16));
    letter-spacing: 2px;
}