#frame-bar{
    width: 100%;
    background-color: #111;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    -webkit-app-region: drag;
    z-index: 100;
}

.frame-icons{
    width: 15px;
    height: 15px;
    padding: 7px 5px;
    -webkit-app-region: no-drag;
}

.frame-icons:hover{
    background-color: #333;
}

#navigation-container{
    width: 100%;
}

#frame-brand-container{
    display: flex;
    margin-right: auto;
}

#frame-brand-title{
    font-size: 15px;
    padding: 7px 5px;
    font-family: Impact, sans-serif;
}

#frame-brand-icon{
    width: 15px;
    height: 15px;
    padding: 7px 5px;
}